<div class="row center">
  <div class="col s6">
    <%= render partial: "partials/login_form" %>
  </div>
  <div class="col s6">
    <%= render partial: "partials/new_user_form", locals: {user: :user} %>
  </div>
</div>
