/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
 $primary-color: color("grey", "lighten-1") !default;
 @import "materialize";


.top-margin {
  margin-top: 100px;
}

.small-top-margin {
  margin-top: 25px;
}

.flash_messages {
  color: #4caf50;
}

.flash_errors {
  color: #f44336;
}

.link {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3;
}

input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3;
}

input[type=text]:focus:not([readonly]) + label {
  color: #2196F3;
}

input[type=password]:focus:not([readonly]) + label {
  color: #2196F3;
}

.brand-logo {
  margin-left: 15px;
}

.login {
  padding: 25px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

.new-user {
  padding: 25px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

.btn-small {
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding: 0 1rem;
  margin: 10px;
}

.button_to {
  width: 75px;
  display: inline;
}

button, p {
  display: inline;
}

.true {
  background-color: #ccc;
}
